.frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
}
.frame .main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2px;
    /* background: #e6efb5; */
}
.main_frame .left_frame{
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
}

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    /* background-color: #838282; */
}
.main_frame .right_frame{
    position: relative;
    width: 108px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main_frame .left_1{
    position: relative;
    width: 228px;
    height: 267px;/*253 figmada*/
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main_frame .left_1 .left_1-1{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}

.main_frame .left_1 .left_1-2{
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    color: var(--Black, #2B2B2B);
    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.main_frame .left_1 .left_1-3{
    width: 147.836px;
    height: 24.31px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}
 .main_frame .marginer {
    position: relative;
    width: 220px;
    height: 1.5px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6;
 }

 .main_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    /* background-color: aqua; */
 }

  .main_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
 }

  .main_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
    
 }

  .main_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;
    
 }
 .link_href {
    text-decoration: none;
    color: black;
 }

 .icon {
    position: relative;
    width: 24.986px;
    height: 21.609px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    /* fill: var(--Yellow, #FFB400); */
    background-color: #FFB400;
    /* Iconni markazga joylashtirish */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
 }

 .icon1 {
    position: relative;
   
 }
 .left-icons{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 238px;
    height: 19px;
 }

 .left_2{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 228px;
    height: 224px;
    padding: 18px 0px 25px 0px;
    gap: 5px;
 }
 .left2_in{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
 }
 

.left2_par{
    position:relative;
    display: flex;
    
    /* padding: 5px; */
    height: 24px;
    background: var(--Yellow, #FFB400);
    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;

/* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    .p1{
width: 46.209px;
height: 24px;
}
}



.left2_arg{
    position: relative;
    display: flex;
    width: auto;
    color: var(--Black, #2B2B2B);
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.language{
    position: relative;
    display:flex ;
    justify-content: space-between;
    padding: 9px 0px 5px 0px ;
}
.wordbold{
    display: flex;
    color: var(--Black, #2B2B2B);

    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}
.wordlight{
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}
.numbers{
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.yellowline{
    position: relative;
    display: flex;
    width: 220px;
    height: 4px;
    border-radius: 10px;
    border: 2px solid #FFB400; 
}
.line{
    display: flex;
    border: 1px solid #FFB400 ;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.left3_in{
    display: flex;
    flex-direction: column;
}

.extra{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon_5{
    position: relative;
    display: flex;
    width: 15px;
    height: 15px;
}

.profile{
    display: flex;
    
    
    
}
.mainwrapper{
    display: flex;
    flex-direction: row;
    width: 971px;
    height: 454.328px;
    background-color: white ;
    margin-top: -28px;
}
.maintext{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 56px;
}
.text1{
    display: flex;
    width: 499.514px;
    height: 116.744px;
    color: var(--Black, #2B2B2B);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%; /* 59.328px */
    margin-top: 15px;
}
.text2{
   display: flex;
   width: 424.437px;
   height: 85.612px;
   color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* H6 - 16px */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: capitalize; 
}
.button{
    display: flex;
    width: 154px;
    height: 51px;
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--Yellow, #FFB400);
}

.shakl{
    display: flex;
    position: absolute;
    z-index: 3;
}
.midtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service{
    display: flex;
    color: var(--Black, #2B2B2B);

    /* H2 - 32px */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%; /* 39.552px */
    text-transform: capitalize;
}
.service_des{
    display: flex;
    width: 438px;
    height: 68px;
    color: var(--Paragraph-Font, #767676);
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* P-15px paragraph */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}
.servislar{
display: grid;
grid-template-columns:repeat(3, 1fr) ;
gap: 20px;
}
.service_de{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 15px;
    gap: 20px;
    width: 310px;
    height: 225px;
    background: var(--White, #FFF);
}
.order_button{
   color: var(--Yellow, #FFB400);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #FFF; 
border-radius: 10px;
border: none;
}

.top{
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 30px;  
}

.middle{
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
    
}
.imgwrapper{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    /* border: 1px solid black; */
    align-items: center;
    color: #f0f0f6;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.imgwrapper:hover {
    background-color: #FFB400;  /* Sariq fon */
    border-color: #FFB400;  /* Sariq border */
    transform: scale(1.15);  /* Kattalashtirish */
    box-shadow: 0 6px 20px rgba(255, 180, 0, 0.4);  /* Soya */
}

.imgwrapper img {
    width: 18px;
    height: 18px;
    display: block;
    
    /* PNG rasmni to'q qilish */
    filter: brightness(0.5) grayscale(1);
    transition: all 0.3s ease;
}
.down{
    display: flex;
    flex:4;
}